<div class="container">

	<% if @error %>

		<p style="color: red;"><%= @error %></p>

	<% end %>

	<h1>Hi there, please sign in to take or create a survey.</h1>

	<form action="/sessions" method="post">
		<p>
			<label for="email">Email:</label>
			<input type="text" name="email" placeholder="email"/>
	  </p>

		<p>
		<label for="password">Password:</label>
		<input type="password" name="password" placeholder="password"/>
		</p>

		<input type="submit" value="Login"/>

	</form>
</div>
