
body {
  background-image: url("http://o.onionstatic.com/images/23/23114/original/700.hq.jpg?3267");
  background-size: cover;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.container {
  margin: 0 auto;
  width: 900px;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  /*background: darkgrey;*/
  text-align: center;
}

#welcome {
	padding: 30px;
}

h1 {
	margin: 0;
	color: white;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 60px;
}
th {
  text-align: left;
}

img { border-radius: 10px;}


.template {
  display:none;
}

a {
	text-decoration: none;
}

#welcome {
	clear: both;
	text-align: center;
}

ul {
	padding-left: 0;
}

#options li {
	display: inline;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	margin: 30px;
}

#navbar {
	height: 100px;
}

#navlist {
	float: right;
	margin: 0;
}

#navlist li{
	display: inline;
	padding-right: 60px;
	list-style: none;
	line-height: 100px;
}

#navlist li a {
	color: white;
}

#navlist li a:hover {
	color: black;
}

#options li a:hover {
	color: white;
}


#options li:hover {
	background-color: gray;
	color: white;
}

