<div class="container">
<form action="/surveys" method="post"></p>
  <div id="answer-template" class="template">
  <p><input type="text" name="possible[]"/></p>
  </div>
  <p><input type="text" name="title" placeholder="Survey Title"/></p>
  <p><input type="text" name="question" /></p>
  <div class="answers">
    <p><input type="text" name="possible[]" /></p> 
  </div><button id="button"> click me </button>
  <p><input type="submit"/></p>
</form>
</div>


<!-- <div class="container">
<form action="/surveys" method="post"></p>
  <input type="text" name="possible[]" id="answer-template" class="template"/>
  <p><input type="text" name="title" placeholder="Survey Title"/></p>
  <p><input type="text" name="question" /></p>
  <div class="answers">
    <p><input type="text" name="possible[]" /></p> 
  </div><button id="button"> click me </button>
  <p><input type="submit"/></p>
</form>
</div> -->
