<div class="container">
<form id="survey" action="/surveys" method="post">
  <p>
    <input type="text" name="title" placeholder="Survey Title"/>
  </p>
  <ol>

  </ol>
  <button id='add_question'>Add question</button>
  <p><input type="submit" value="Create Survey "/></p>
</form>
</div>



