<h1><%=@survey.title%></h1>
<form action="/response" method="POST">
	<% @survey.questions.each do |question| %>
		<p><%=question.text%></p>
		<select name="answer">
			<%question.possible_choices.each do |possible|%>
			<option value=<%=possible.option%>><%=possible.option%></option>
			<%end%>
		</select>
	<% end %>
	<input type="submit">
</form>
