<div class="container">
  <h1>Welcome to Survey Gorilla!</h1>
  <p>Hello, world!</p>

  <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS9DPt0CUam-vxVk1Er-grlvQDyGGNsnS-svDKWXCgRJgCKh-sL8w">

  <p><a href="/surveys">take a survey</a></p>
  <p><a href="#">create a survey</a></p>
</div>
